@use "variables" as v;

h2 {
  color: v.$primary;
}

.header-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-avatar {
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid v.$primary;
  margin-bottom: 1em;
}

#social {
  margin-top: 0.5em;
  margin-bottom: 1em;
  text-align: center;

  .contact {
    font-family: v.$code_font;
    font-size: 0.8rem;
  }
}

.post-time {
  margin: 0;
  color: #88593a;
  font-style: italic;
  font-family: v.$serif_font;
  letter-spacing: 0.1rem;
}

.post-list {
  margin-top: 2em;
}

.post-card {
  position: relative; // for the link (!)

  padding: 1em;
  margin-bottom: 1em;

  border: 2px solid v.$primary;
  border-radius: 0.5em;

  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 2px 7px rgba(v.$primary, 0.25);
  }
}

.post-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.post-excerpt {
  margin-top: 0.5em;
}