@use "variables" as v;

// https://stackoverflow.com/a/17555766/
html {
    height: 100%;
}

body {
    min-height: 100%;
    background: linear-gradient(to top, #fff7f0, #fffcf8);
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: v.$normal-font;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 15px;

    @media (min-width: 470px) {
        font-size: 16px;
    }

    @media(min-width: 560px) {
        font-size: 17px;
    }

    @media(min-width: 800px) {
        font-size: 18px;
    }

    @media(min-width: 900px) {
        font-size: 19px;
    }
}

.only-aria {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}