$normal-font: "Rethink", sans-serif;
$serif-font: "Vermiglione", serif;
$code-font: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;

$primary: #563c29;
$link-color-hover: #563c29;
$link-color-transition: color 200ms ease-in-out;