// https://stackoverflow.com/a/17555766/
html {
    height: 100%;
}
body {
    min-height: 100%;
    background: linear-gradient(to top, #fff7f0, #fffcf8);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 18px;
}
