@font-face {
    font-family: "Vermiglione";
    src: url("/assets/fonts/Vermiglione-Medium.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Vermiglione";
    src: url("/assets/fonts/Vermiglione-SemiBold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Vermiglione";
    src: url("/assets/fonts/Vermiglione-Bold.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Rethink";
    src: url("/assets/fonts/RethinkSans-Variable.ttf");
    font-weight: 400 700;
    font-style: normal;
}

@font-face {
    font-family: "Rethink";
    src: url("/assets/fonts/RethinkSans-Italic-Variable.ttf");
    font-weight: 400 700;
    font-style: italic;
}

h1 {
    font-family: "Vermiglione", serif;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 1em;

    // https://resourceboy.com/textures/gold-textures/
    background: url("/assets/images/goldfoil.webp"), linear-gradient(142deg, #563c29, #563c29);
    background-size: cover;
    background-position: center;
    color: #281c143d;
    background-blend-mode: hard-light;
    background-clip: text;
}

h2 {
    font-family: "Vermiglione", serif;
    font-weight: 700;
    font-size: 1.6em;
    color: #0f1b24d5;

    margin-top: 1.65em;
    margin-bottom: 0;

    a::before {
        content: "¶";
        font-size: 2rem;
        color: #454545d6;
        position: absolute;
        left: -1.9rem;
        width: 1.9rem;
        transform: translateY(-10%);
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    a:hover::before {
        opacity: 1;
    }

    &:hover {
        a::before {
            opacity: 1;
        }
    }

    &:target {
        a::before {
            opacity: 1;
            color: #88593a;
        }
    }
}

h3 {
    font-family: "Rethink", sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: #0f1b24d5;
    margin-top: 1.2em;
}

p {
    font-family: "Rethink", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #0f1b24;

    margin-top: 0.4em;
    margin-bottom: 1em;
}

a {
    color: #88593a;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    transition: color 0.3s ease;

    &:hover {
        color: #563c29;
    }
}