---
---

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" content="width=device-width" name="viewport">
  <title>{{ page.title }}</title>
  <link href="{{ '/assets/css/main.css' | absolute_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/home.css' | absolute_url }}" rel="stylesheet">
</head>

<body>
  <div class="container">

    <header>
      <h1>{{ page.title }}</h1>
    </header>

    <div id="social">
      <a href="https://github.com/splines">GitHub</a>
      |
      <a href="https://youtube.com/@splience">YouTube (Science)</a>
      |
      <a href="https://orcid.org/0009-0008-5812-7326">ORCiD</a>
      |
      <a href="https://www.linkedin.com/in/splines/">LinkedIn</a>

      <br>

      <a href="https://youtube.com/splines">YouTube (Music)</a>
      |
      <a href="https://open.spotify.com/artist/5ftAWGcc988kE4Y8nJ1Urm">Spotify</a>
      |
      <a href="https://tidal.com/artist/27305838">Tidal</a>

      <br>

      <p class="contact">
        Contact me: info&lt;at&gt;&lt;domain&gt; (though I won't promise a reply)
      </p>
    </div>

    <p>
      Hey there, I'm Dominic aka Splines. Welcome to my little blog where I write about programming, music, physics, math... whatever is on my mind right now. And don't be too serious, let's
      <a href="https://youtu.be/QU1DdnQ7_zU">wiggle more</a>
      through life as Jacob would put it :)
    </p>

    <div class="post-list">

      {% for post in site.posts %}
      {% unless post.draft %}
      <div class="post-card">
        <a class="post-card-link" href="{{ post.url | relative_url }}"></a>

        <h2>
          {{ post.title }}</a>
        </h2>

        <p class="post-time">
          <time datetime="{{ post.date | date: '%Y-%m-%d' }}">
            {{ post.date | date: "%B %Y" }}
          </time>
        </p>

        <p class="post-excerpt">
          {{ post.excerpt }}
        </p>

      </div>
      {% endunless %}
      {% endfor %}

    </div>

  </div>
</body>

</html>
