---
---

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" content="width=device-width" name="viewport">
  <title>{{ page.title }}</title>
  <!-- for Giscus mapping between blog post and GitHub Discussion -->
  <meta content="{{ page.title }}" property="og:title">
  <link href="{{ '/assets/css/main.css' | absolute_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/page.css' | absolute_url }}" rel="stylesheet">

  {% if page.katex.enabled %}
  <link href="{{ '/assets/katex/katex.min.css' | absolute_url }}" rel="stylesheet">
  {% endif %}

  {% if page.code %}
  <link href="{{ '/assets/css/code.css' | absolute_url }}" rel="stylesheet">
  <script defer src="{{ '/assets/js/code.js' | absolute_url }}"></script>
  {% endif %}

  <!-- Giscus Comments -->
  <script async
    crossorigin="anonymous"
    data-category="Homepage comments"
    data-category-id="DIC_kwDOOG9Rj84CvIU6"
    data-emit-metadata="0"
    data-input-position="top"
    data-lang="en"
    data-loading="lazy"
    data-mapping="og:title"
    data-reactions-enabled="1"
    data-repo="splines/homepage"
    data-repo-id="R_kgDOOG9Rjw"
    data-strict="1"
    data-theme="light"
    src="https://giscus.app/client.js">
  </script>
</head>

<body>
  <article class="container">

    <header>
      <h1>{{ page.title_on_page | default: page.title }}</h1>
      <p>
        written by {{ site.author_name }}
        <br>
        published
        <time datetime="{{ page.date | date: '%Y-%m-%d' }}">
          {{ page.date | date: "%B %-d, %Y" }}
        </time>
      </p>
    </header>

    <hr class="header-content-separator">

    <div>
      {{ content }}
    </div>

  </article>

  <a class="return-back" href="/">
    <svg>
      <use xlink:href="/assets/icons/basics.svg#icon-back"></use>
    </svg>
    <i>Back</i>
  </a>

  {% unless site.url contains 'localhost' %}
  <div class="giscus container">
    <!-- Comments rendered by Giscus -->
  </div>
  {% endunless %}

  <div id="whitespace-below-article"></div>

</body>

</html>
