---
---

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" content="width=device-width" name="viewport">
  <title>{{ page.title }}</title>
  <link href="{{ '/assets/css/main.css' | absolute_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/page.css' | absolute_url }}" rel="stylesheet">

  {% if page.katex.enabled %}
  <link href="{{ '/assets/katex/katex.min.css' | absolute_url }}" rel="stylesheet">
  {% endif %}

  {% if page.code %}
  <link href="{{ '/assets/css/code.css' | absolute_url }}" rel="stylesheet">
  <script defer src="{{ '/assets/js/code.js' | absolute_url }}"></script>
  {% endif %}

  <script defer src="{{ '/assets/js/back.js' | absolute_url }}"></script>
</head>

<body>
  <article class="container">

    <header>
      <h1>{{ page.title_on_page | default: page.title }}</h1>
      <p>
        written by {{ site.author_name }}
        <br>
        published
        <time datetime="{{ page.date | date: '%Y-%m-%d' }}">
          {{ page.date | date: "%B %-d, %Y" }}
        </time>
      </p>
    </header>

    <hr class="header-content-separator">

    <div>
      {{ content }}
    </div>

  </article>

  <a class="return-back" href="/">
    <svg>
      <use xlink:href="/assets/icons/basics.svg#icon-back"></use>
    </svg>
    <i>Back</i>
  </a>

  <div id="whitespace-below-article"></div>
</body>

</html>
